body{
    background-color:rgb(227,217,227);
    background-image: ;
}

.btn{
    border-radius: 13px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: orange;
    cursor: pointer;
}
.btn:hover{
    background-color: azure;

}

h3{
    text-align: center;